body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
  }
  
  .centerFocus {
    width: 80%;
    padding: 20% 0;
    background-color: rgb(100, 180, 100);
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 80%;
      padding: 30% 0;
    }
  }


  
  /* Custom bottom-buttons styles */
  .bottom-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .bottom-buttons .btn {
    margin: 5px;
  }
  
  